docs/n8n/segundas-vias-whatsapp.json
{
  "name": "2a Via - WhatsApp (Prop Starter)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wa-segunda-via",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "11111111-1111-1111-1111-111111111111",
      "name": "Webhook (recebe msg)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [260, 300],
      "webhookId": "wa-segunda-via"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://condominios-gamma.vercel.app/api/integracao/wa",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "COLOQUE_SUA_INTEGRACAO_API_KEY" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ phone: $json.body.phone, nome: $json.body.nome, mensagem: $json.body.mensagem }) }}",
        "options": {}
      },
      "id": "22222222-2222-2222-2222-222222222222",
      "name": "Backend (cerebro do bot)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [540, 300]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.reply }}",
        "options": {}
      },
      "id": "33333333-3333-3333-3333-333333333333",
      "name": "Responde",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [820, 300]
    }
  ],
  "connections": {
    "Webhook (recebe msg)": {
      "main": [[{ "node": "Backend (cerebro do bot)", "type": "main", "index": 0 }]]
    },
    "Backend (cerebro do bot)": {
      "main": [[{ "node": "Responde", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "pinData": {}
}
