docs/n8n/segundas-vias-whatsapp-completo.json
{
  "name": "2a Via - WhatsApp Cloud API (Prop Starter)",
  "nodes": [
    {
      "parameters": {
        "updates": ["messages"],
        "options": {}
      },
      "id": "a1111111-1111-1111-1111-111111111111",
      "name": "WhatsApp recebe msg",
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [220, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "c1111111-1111-1111-1111-111111111111",
              "leftValue": "={{ $json.messages && $json.messages[0] && $json.messages[0].type }}",
              "rightValue": "text",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b2222222-2222-2222-2222-222222222222",
      "name": "So mensagens de texto",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "f1", "name": "phone", "value": "={{ $json.messages[0].from }}", "type": "string" },
            { "id": "f2", "name": "nome", "value": "={{ $json.contacts[0].profile.name }}", "type": "string" },
            { "id": "f3", "name": "mensagem", "value": "={{ $json.messages[0].text.body }}", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "c3333333-3333-3333-3333-333333333333",
      "name": "Extrair dados",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [660, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://condominios-gamma.vercel.app/api/integracao/wa",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "COLOQUE_SUA_INTEGRACAO_API_KEY" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ phone: $json.phone, nome: $json.nome, mensagem: $json.mensagem }) }}",
        "options": {}
      },
      "id": "d4444444-4444-4444-4444-444444444444",
      "name": "Backend (cerebro do bot)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 300]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "phoneNumberId": "COLOQUE_SEU_PHONE_NUMBER_ID",
        "recipientPhoneNumber": "={{ $('Extrair dados').item.json.phone }}",
        "messageType": "text",
        "textBody": "={{ $json.reply }}",
        "additionalFields": {}
      },
      "id": "e5555555-5555-5555-5555-555555555555",
      "name": "Responder no WhatsApp",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [1100, 300]
    }
  ],
  "connections": {
    "WhatsApp recebe msg": {
      "main": [[{ "node": "So mensagens de texto", "type": "main", "index": 0 }]]
    },
    "So mensagens de texto": {
      "main": [[{ "node": "Extrair dados", "type": "main", "index": 0 }]]
    },
    "Extrair dados": {
      "main": [[{ "node": "Backend (cerebro do bot)", "type": "main", "index": 0 }]]
    },
    "Backend (cerebro do bot)": {
      "main": [[{ "node": "Responder no WhatsApp", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "pinData": {}
}
