docs/n8n/segundas-vias-evolution.json
{
  "name": "2a Via - WhatsApp via Evolution (Prop Starter)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "evolution-wa",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "a1111111-1111-1111-1111-111111111111",
      "name": "Evolution recebe msg",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [220, 300],
      "webhookId": "evolution-wa"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.body.data.key.fromMe }}",
              "rightValue": "",
              "operator": { "type": "boolean", "operation": "false", "singleValue": true }
            },
            {
              "id": "c2",
              "leftValue": "={{ $json.body.data.message.conversation || ($json.body.data.message.extendedTextMessage && $json.body.data.message.extendedTextMessage.text) }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "exists", "singleValue": true }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b2222222-2222-2222-2222-222222222222",
      "name": "So texto de fora",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "f1", "name": "phone", "value": "={{ $json.body.data.key.remoteJid.split('@')[0] }}", "type": "string" },
            { "id": "f2", "name": "nome", "value": "={{ $json.body.data.pushName }}", "type": "string" },
            { "id": "f3", "name": "mensagem", "value": "={{ $json.body.data.message.conversation || ($json.body.data.message.extendedTextMessage && $json.body.data.message.extendedTextMessage.text) }}", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "c3333333-3333-3333-3333-333333333333",
      "name": "Extrair dados",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [660, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://condominios-gamma.vercel.app/api/integracao/wa",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "COLOQUE_SUA_INTEGRACAO_API_KEY" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ phone: $json.phone, nome: $json.nome, mensagem: $json.mensagem }) }}",
        "options": {}
      },
      "id": "d4444444-4444-4444-4444-444444444444",
      "name": "Backend (cerebro do bot)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evo.SEUDOMINIO/message/sendText/INSTANCIA",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "COLOQUE_A_EVOLUTION_API_KEY" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ number: $('Extrair dados').item.json.phone, text: $json.reply }) }}",
        "options": {}
      },
      "id": "e5555555-5555-5555-5555-555555555555",
      "name": "Responder (Evolution)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 300]
    }
  ],
  "connections": {
    "Evolution recebe msg": {
      "main": [[{ "node": "So texto de fora", "type": "main", "index": 0 }]]
    },
    "So texto de fora": {
      "main": [[{ "node": "Extrair dados", "type": "main", "index": 0 }]]
    },
    "Extrair dados": {
      "main": [[{ "node": "Backend (cerebro do bot)", "type": "main", "index": 0 }]]
    },
    "Backend (cerebro do bot)": {
      "main": [[{ "node": "Responder (Evolution)", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "pinData": {}
}
